This notebook will be mainly used for the Segmenting and Clustering Neighborhoods in Toronto

In [1]:
import requests
import pandas as pd

url = 'https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'
html = requests.get(url).content
df_list = pd.read_html(html)
df = df_list[0]
print(df)
df.to_csv('toronto_data.csv')

    Postcode           Borough          Neighbourhood
0        M1A      Not assigned           Not assigned
1        M2A      Not assigned           Not assigned
2        M3A        North York              Parkwoods
3        M4A        North York       Victoria Village
4        M5A  Downtown Toronto           Harbourfront
..       ...               ...                    ...
282      M8Z         Etobicoke              Mimico NW
283      M8Z         Etobicoke     The Queensway West
284      M8Z         Etobicoke  Royal York South West
285      M8Z         Etobicoke         South of Bloor
286      M9Z      Not assigned           Not assigned

[287 rows x 3 columns]

In [2]:
df_canada=pd.read_csv('toronto_data.csv')

In [3]:
df_canada.head()

   Unnamed: 0 Postcode           Borough     Neighbourhood
0           0      M1A      Not assigned      Not assigned
1           1      M2A      Not assigned      Not assigned
2           2      M3A        North York         Parkwoods
3           3      M4A        North York  Victoria Village
4           4      M5A  Downtown Toronto      Harbourfront

In [4]:
df_canada.drop("Unnamed: 0", axis = 1, inplace=True)

In [5]:
df_canada.head()

  Postcode           Borough     Neighbourhood
0      M1A      Not assigned      Not assigned
1      M2A      Not assigned      Not assigned
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront

In [6]:
import numpy as np

# replace "?" to NaN
df_canada.replace("Not assigned", np.nan, inplace = True)
df_canada.head(5)

  Postcode           Borough     Neighbourhood
0      M1A               NaN               NaN
1      M2A               NaN               NaN
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront

In [7]:
#Only process the cells that have an assigned borough. Ignore cells with a borough that is Not assigned.
# simply drop whole row with NaN in "Borough" column
df_canada.dropna(subset=["Borough"], axis=0, inplace=True)

# reset index, because we droped rows
df_canada.reset_index(drop=True, inplace=True)

In [8]:
df_canada.head()

  Postcode           Borough     Neighbourhood
0      M3A        North York         Parkwoods
1      M4A        North York  Victoria Village
2      M5A  Downtown Toronto      Harbourfront
3      M6A        North York  Lawrence Heights
4      M6A        North York    Lawrence Manor

In [11]:
df_canada['Neighbourhood'].replace("Not assigned", df_canada["Borough"],inplace=True)
df_canada.head()

  Postcode           Borough     Neighbourhood
0      M3A        North York         Parkwoods
1      M4A        North York  Victoria Village
2      M5A  Downtown Toronto      Harbourfront
3      M6A        North York  Lawrence Heights
4      M6A        North York    Lawrence Manor

In [12]:
# More than one neighborhood can exist in one postal code area, combined these into one row with the neighborhoods separated with a comma
df_canada["Neighbourhood"] = df_canada.groupby("Postcode")["Neighbourhood"].transform(lambda neigh: ', '.join(neigh))

#remove duplicates
df_canada = df_canada.drop_duplicates()
df_canada.reset_index(drop=True, inplace=True) 

df_canada.head()

  Postcode           Borough                     Neighbourhood
0      M3A        North York                         Parkwoods
1      M4A        North York                  Victoria Village
2      M5A  Downtown Toronto                      Harbourfront
3      M6A        North York  Lawrence Heights, Lawrence Manor
4      M7A  Downtown Toronto                      Queen's Park

In [13]:
df_canada.shape

(103, 3)

<h3>Part-2- Building a DataFrame with Latitude and Longitude</h3>

In [14]:
latlong_df = pd.read_csv("Geospatial_Coordinates.csv")
latlong_df.columns = ["Postcode", "Latitude", "Longitude"]
latlong_df.head()

  Postcode   Latitude  Longitude
0      M1B  43.806686 -79.194353
1      M1C  43.784535 -79.160497
2      M1E  43.763573 -79.188711
3      M1G  43.770992 -79.216917
4      M1H  43.773136 -79.239476

In [15]:
df_join= pd.merge(df_canada,latlong_df,on='Postcode')
df_join.head(12)

,Postcode,Borough,Neighbourhood,Latitude,Longitude
0,M3A,North York,Parkwoods,43.753259,-79.329656
1,M4A,North York,Victoria Village,43.725882,-79.315572
2,M5A,Downtown Toronto,Harbourfront,43.654260,-79.360636
3,M6A,North York,"Lawrence Heights, Lawrence Manor",43.718518,-79.464763
4,M7A,Downtown Toronto,Queen's Park,43.662301,-79.389494
5,M9A,Etobicoke,Islington Avenue,43.667856,-79.532242
6,M1B,Scarborough,"Rouge, Malvern",43.806686,-79.194353
7,M3B,North York,Don Mills North,43.745906,-79.352188
8,M4B,East York,"Woodbine Gardens, Parkview Hill",43.706397,-79.309937
9,M5B,Downtown Toronto,"Ryerson, Garden District",43.657162,-79.378937
10,M6B,North York,Glencairn,43.709577,-79.445073
11,M9B,Etobicoke,"Cloverdale, Islington, Martin Grove, Princess ...",43.650943,-79.554724