This notebook will be mainly used for the Applied Data Science Capstone Project

<h3>Part-1-Segmenting and Clustering Neighborhoods in Toronto</h3>

In [1]:
import requests
import pandas as pd

url = 'https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'
html = requests.get(url).content
df_list = pd.read_html(html)
df = df_list[0]
print(df)
df.to_csv('toronto_data.csv')

    Postcode           Borough          Neighbourhood
0        M1A      Not assigned           Not assigned
1        M2A      Not assigned           Not assigned
2        M3A        North York              Parkwoods
3        M4A        North York       Victoria Village
4        M5A  Downtown Toronto           Harbourfront
..       ...               ...                    ...
282      M8Z         Etobicoke              Mimico NW
283      M8Z         Etobicoke     The Queensway West
284      M8Z         Etobicoke  Royal York South West
285      M8Z         Etobicoke         South of Bloor
286      M9Z      Not assigned           Not assigned

[287 rows x 3 columns]

In [2]:
df_toronto=pd.read_csv('toronto_data.csv')

In [3]:
df_toronto.head()

   Unnamed: 0 Postcode           Borough     Neighbourhood
0           0      M1A      Not assigned      Not assigned
1           1      M2A      Not assigned      Not assigned
2           2      M3A        North York         Parkwoods
3           3      M4A        North York  Victoria Village
4           4      M5A  Downtown Toronto      Harbourfront

In [4]:
df_toronto.drop("Unnamed: 0", axis = 1, inplace=True)

In [5]:
df_toronto.head()

  Postcode           Borough     Neighbourhood
0      M1A      Not assigned      Not assigned
1      M2A      Not assigned      Not assigned
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront

In [7]:
import numpy as np

# replace "?" to NaN
df_toronto.replace("Not assigned", np.nan, inplace = True)
df_toronto.head(5)

  Postcode           Borough     Neighbourhood
0      M1A               NaN               NaN
1      M2A               NaN               NaN
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront

In [8]:
#Only process the cells that have an assigned borough. Ignore cells with a borough that is Not assigned.
# simply drop whole row with NaN in "Borough" column
df_toronto.dropna(subset=["Borough"], axis=0, inplace=True)

# reset index, because we droped rows
df_toronto.reset_index(drop=True, inplace=True)

In [9]:
df_toronto.head()

  Postcode           Borough     Neighbourhood
0      M3A        North York         Parkwoods
1      M4A        North York  Victoria Village
2      M5A  Downtown Toronto      Harbourfront
3      M6A        North York  Lawrence Heights
4      M6A        North York    Lawrence Manor

In [10]:
missing_data = df_toronto.isnull()
missing_data.head(5)

   Postcode  Borough  Neighbourhood
0     False    False          False
1     False    False          False
2     False    False          False
3     False    False          False
4     False    False          False

In [18]:
# If a cell has a borough but a Not assigned neighborhood, then the neighborhood will be the same as the borough
df_toronto['Neighbourhood'].replace("Not assigned", df_toronto["Borough"],inplace=True)
df_toronto.head()

                   Borough                     Neighbourhood
Postcode
M3A             North York                         Parkwoods
M4A             North York                  Victoria Village
M5A       Downtown Toronto                      Harbourfront
M6A             North York  Lawrence Heights, Lawrence Manor
M7A       Downtown Toronto                      Queen's Park

In [17]:
# More than one neighborhood can exist in one postal code area, combined these into one row with the neighborhoods separated with a comma
df_toronto["Neighbourhood"] = df_toronto.groupby("Postcode")["Neighbourhood"].transform(lambda neigh: ', '.join(neigh))

#remove duplicates
df_toronto = df_toronto.drop_duplicates()

#update index to be postcode if it isn't already
if(df_toronto.index.name != 'Postcode'):
    df_toronto = df_toronto.set_index('Postcode')
    
df_toronto.head()

                   Borough                     Neighbourhood
Postcode
M3A             North York                         Parkwoods
M4A             North York                  Victoria Village
M5A       Downtown Toronto                      Harbourfront
M6A             North York  Lawrence Heights, Lawrence Manor
M7A       Downtown Toronto                      Queen's Park

In [20]:
df_toronto.shape

(103, 2)